.active{
    border-left: 3px solid ;
}
.scroller::-webkit-scrollbar {
    width: 10px;
    height: 0px;
  }
  
  .scroller::-webkit-scrollbar-track {
    border-radius: 1rem;
  }
  
  
  .scroller::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #0a112e, #4e5266);
    border-radius: 1rem;
  
  }
  
  .scroller::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(270deg, #0a112e, #4e5266);
  
  }
  ::-webkit-scrollbar {
    width: 10px;
    height: 0px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 1rem;
  }
  
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #0a112e, #4e5266);
    border-radius: 1rem;
  
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(270deg, #0a112e, #4e5266);
  
  }